<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>공급자 조회</h3>
<hr>
<form th:action="@{/main16/sub4}">
    <label>
        ID
        <input type="text" name="id" th:value="${param.id}">
    </label>
    <button>조회</button>
</form>

<hr>
<div th:if="${supplier == null}">
    조회된 결과가 없습니다.
</div>
<div th:if="${supplier != null}" th:object="${supplier}">
    <div>
        <label>
            ID
            <input type="text" th:value="*{id}" readonly>
        </label>
    </div>
    <div>
        <label>
            이름
            <input type="text" th:value="*{name}" readonly>
        </label>
    </div>
    <div>
        <label>
            계약명
            <input type="text" th:value="*{contact}" readonly>
        </label>
    </div>
    <div>
        <label>
            주소
            <input type="text" th:value="*{address}" readonly>
        </label>
    </div>
    <div>
        <label>
            도시
            <input type="text" th:value="*{city}" readonly>
        </label>
    </div>
    <div>
        <label>
            국가
            <input type="text" th:value="*{country}" readonly>
        </label>
    </div>
    <div>
        <label>
            우편번호
            <input type="text" th:value="*{postalCode}" readonly>
        </label>
    </div>
    <div>
        <label>
            전화번호
            <input type="text" th:value="*{phone}" readonly>
        </label>
    </div>

    <button form="delete-form">삭제</button>
    <div style="display: none">
        <form th:action="@{/main16/sub4}" method="post" id="delete-form">
            <input type="text" name="id" th:value="${supplier.id}">
        </form>
    </div>
</div>
</body>
</html>