<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, td, th {
            border: 1px solid blue;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h3>상품명 조회 (w/ page)</h3>

<hr>
<form th:action="@{/main15/sub4}">
    <label>
        상품명
        <input type="text" name="keyword" th:value="${param.keyword ?: ''}">
    </label>
    <button>검색</button>
</form>
<hr>

<table th:if="${productList.size() > 0}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Supplier</th>
        <th>Category</th>
        <th>Unit</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.supplier}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.unit}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>
<div>
    <!--/* 이전 버튼 */-->
    <span th:if="${prevPage > 0}">
        <a th:if="${param.keyword == null}"
           th:href="@{/main15/sub4(page=${prevPage})}">
            이전
        </a>
        <a th:if="${param.keyword != null}"
           th:href="@{/main15/sub4(page=${prevPage},keyword=${param.keyword})}">
            이전
        </a>
        |
    </span>
    <!--/* 페이지 번호들 */-->
    <span th:each="num : ${#numbers.sequence(leftPage, rightPage)}">
        <a th:if="${param.keyword == null}"
           th:href="@{/main15/sub4(page=${num})}"
           th:text="${num}"></a>
        <a th:if="${param.keyword != null}"
           th:href="@{/main15/sub4(page=${num},keyword=${param.keyword})}"
           th:text="${num}"></a>
        |
    </span>
    <!--/* 다음 버튼 */-->
    <span th:if="${nextPage <= lastPage}">
        <a th:if="${param.keyword == null}"
           th:href="@{/main15/sub4(page=${nextPage})}">
            다음
        </a>
        <a th:if="${param.keyword != null}"
           th:href="@{/main15/sub4(page=${nextPage},keyword=${param.keyword})}">
            다음
        </a>
        |
    </span>
</div>
</body>
</html>