<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, td, th, tr {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h3>고객 목록</h3>
<!--table>thead>tr>th*7^^tbody>tr>td*7-->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>Contact NAME</th>
        <th>ADDRESS</th>
        <th>CITY</th>
        <th>POST</th>
        <th>COUNTRY</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customerList}">
        <td th:text="${customer['customerID']}"></td>
        <td th:text="${customer['customerName']}"></td>
        <td th:text="${customer['contactName']}"></td>
        <td th:text="${customer['address']}"></td>
        <td th:text="${customer['city']}"></td>
        <td th:text="${customer['postalCode']}"></td>
        <td th:text="${customer['country']}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>