<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, th, td {
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h3>미국, 영국 고객 목록</h3>
<table>
    <thead>
    <tr>
        <th>국가</th>
        <th>이름</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customerList}">
        <td th:text="${customer.country}"></td>
        <td th:text="${customer.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>