<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- th:if : true이면-->
<!-- th:unless : false이면-->

<h1 th:if="${married}">Lorem.</h1>
<h1 th:if="${!married}">Ut?</h1>
<h1 th:unless="${married}">Illo!</h1>
<h1 th:unless="${working}">Dolorem.</h1>

<h1>
  <span th:if="${name == null}">이름 없음</span>
  <span th:unless="${name == null}" th:text="${name}"></span>
</h1>
<h1>
  <span th:if="${city == null}">주소 없음</span>
  <span th:unless="${city == null}" th:text="${city}"></span>
</h1>

<hr>

<!-- no-operation token(no-op) _ : 아무 연산 안함. 없음.-->
<h1>Lorem ipsum dolor.</h1>
<h1 th:text="${name}">Lorem ipsum dolor.</h1>
<h1 th:text="_">Lorem ipsum dolor.</h1>
<h1 th:text="${name} ?: _">이름 없음</h1>
<h1 th:text="${city} ?: _">회사 없음</h1>

</body>
</html>