<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- th:fragment 코드조각에 이름 붙이기 -->
<div th:fragment="navbar">
    <a th:href="@{/main8/sub5}" style="color: skyblue">to sub5</a>
    <a th:href="@{/main8/sub6}" style="color: skyblue">to sub6</a>
</div>

<h1>layout</h1>

<div th:fragment="footer" style="display: flex">
    <div style="flex: 1; text-align: center">
        about
    </div>
    <div style="flex: 1; text-align: center">
        price
    </div>
    <div style="flex: 1; text-align: center">
        info
    </div>
</div>

</body>
</html>